<template>
  <v-main>
    <v-snackbar v-model="snackbar" :timeout="8000" top color="orange" dark  > {{text}}
      <v-btn color="white" text @click="snackbar = false"> Cerrar </v-btn>
    </v-snackbar>

    <v-row justify="center" class="pa-0"  >
      <v-col cols="12"  sm="5"  lg="5"  xl="4"  class="pa-0" >
        <v-card class="elevation-0 transparent" id="row">
          <v-card-text class="mt-6" align="left">
            <v-img
              src="@/assets/contact_us/contacto4.jpg"
              width="100%" 
            >
            </v-img>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="11"  sm="7" lg="5" xl="4" class="pa-0 py-0 text-right">
        <v-card flat class="white" width="100%" height="100%" id="row">
          <v-card-title primary-title class="text-center headline font-weight-black">
            <v-spacer></v-spacer>
            CONTÁCTANOS 
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-text class="px-6">
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12" class="">
                  <v-text-field
                    v-model="nombre" dense   label="Nombre"  
                    outlined type="text" required hide-details
                    clearable
                    >
                  </v-text-field>
                </v-col>

                <v-col cols="12" class="" sm="6">
                  <v-text-field
                    v-model="correo" dense   
                    label="Correo" required outlined hide-details
                    clearable
                    >
                  </v-text-field>
                </v-col>

                <v-col cols="12" class="" sm="6">
                  <v-text-field
                    v-model="telefono" dense   hide-details
                    clearable 
                    label="Teléfono" required outlined type="number"
                    >
                  </v-text-field>
                </v-col>

                <v-col cols="12" class="" sm="6">
                  <v-text-field
                    dense   label="Producto" 
                    outlined required hide-details
                    clearable
                    >
                  </v-text-field>
                </v-col>

                 <v-col cols="12" class="" sm="6">
                  <v-text-field
                    dense  autofocus type="number"
                    label="Cantidad" placeholder="Cantidad en litros"
                    required outlined suffix="Lts" hide-details
                    clearable
                    >
                  </v-text-field>
                </v-col>

                <v-col cols="12" class="" >
                  <v-text-field
                    dense  autofocus label="Empresa" 
                    required outlined hide-details
                    clearable 
                  >
                  </v-text-field>
                </v-col>

                 <v-col cols="12" class="">
                  <v-textarea
                    filled
                    dense
                    hide-details
                    clearable
                    label="Mensaje"
                    placeholder="Escribe tu mensaje aquí..."
                    rows="2"
                    v-model="descrip"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions class="px-6">
            <!-- <v-spacer></v-spacer> -->
            <v-btn outlined  block dark @click="validate"  class="elevation-0 contenedor">Envíar Información</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
      
  </v-main>
</template>

<script>
  export default {
    data(){
      return{
        descrip:'',
        nombre:'',
        correo:'',
        telefono:'',

        snackbar: false,
        text: '',

        value:'',

        valid: true,
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => (v && v.length <= 10) || 'Minimo 8 caracteres'
        },

      }
    },

    methods:{

      validate () {
        this.$refs.form.validate()
        if(this.$refs.form.validate() == true){
          this.ingresar()
        }
      },

    },

  };


</script>


<style scoped>
  #id{
   height: 100%;
   overflow-y: hidden;
  }
  .contenedor{
    background: #ba6c1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ba6c1a, #ba6c1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ba6c1a, #ba6c1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .header{
    background: #009FFF;
    background: -webkit-linear-gradient(to right, hsla(210, 29%, 24%, 0.503), #bdc3c7cd);
    background: linear-gradient(to right, #2c3e5082, #bdc3c7c1), url('/tracto.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    margin: 0px
  }

  
</style>


  