<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      class="elevation-0"
    >
      <div class=" align-center" >
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="logo.png"
          max-width="130"
          @click="home"
        />
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Ruteo de vistas -->
    <v-main class="elevation-0 transparent pa-0"> 
      <v-container fluid class="elevation-0 transparent">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container> 
    </v-main>

    <v-footer
      app
      dark
      color="black"
      class="text-center px-0"
    >
      <v-spacer v-if="tamanio != 'xs'"></v-spacer>

      <v-card
        color="black"
        class="mx-4 my-3 white--text  elevation-6 text-caption text-md-subtitle-2"
        :to="{name: ''}"
      >
        NOSOTROS
      </v-card>

      <v-card
        color="black"
        class="mx-4 my-3 white--text  elevation-6 text-caption text-md-subtitle-2"
        :to="{name: ''}"
      >
        COBERTURA
      </v-card>

      <v-card
        color="black"
        class="mx-4 my-3 white--text  elevation-6 text-caption text-md-subtitle-2"
        :to="{name: ''}"
      >
        PRODUCTOS
      </v-card>

      <v-card
        color="black"
        class="mx-4 my-3 white--text  elevation-6 text-caption text-md-subtitle-2"
        :to="{name: 'Contacto'}"
      >
        CONTACTO
      </v-card>
      
      <v-spacer v-if="tamanio != 'xs'"></v-spacer>
    </v-footer>

  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {

  },

  data: () => ({
    icons: [
      {to: 'mdi-facebook',   text:'NOSOTROS'},
      {to: 'mdi-twitter',    text:'COBERTURA'},
      {to: 'mdi-linkedin',   text:'PRODUCTOS'},
      {to: 'mdi-instagram',  text:'CONTACTO'},
    ],
    //
  }),

  methods:{
    home(){
      this.$router.push({name:'Home'})
    }
  },

  computed: {
    tamanio () {
      return this.$vuetify.breakpoint.name
      
    },
  },
};
</script>
